<section class="container-fluid navbar navbar-bottom">
  <div class="row">

    <div class="col-md-2">

    </div>

    <div class="col-md-2">
      <h3>Navigation</h3>
      <h4>
        <i class="fa fa-home"></i>
        <a href="/">
          Home
        </a>
      </h4>

      <h4>
        <i class="fa fa-file-text"></i>
        <a href="/about">
          CV
        </a>
      </h4>

      <h4>
        <i class="fa fa-folder-open"></i>
        <a href="/projects">
          Portfolio
        </a>
      </h4>

      <h4>
        <i class="fa fa-file-text-o"></i>
        <a href="/posts">
          Posts
        </a>
      </h4>

    </div>

    <div class="col-md-2">
      <h3>Social Media</h3>
      <h4>
        <i class="fa fa-linkedin"></i>
        <a href="https://www.linkedin.com/in/jmasland">
          LinkedIn
        </a>
      </h4>

      <h4>
        <i class="fa fa-instagram"></i>
        <a href="https://instagram.com/jmasaraniland/">
          Instagram
        </a>
      </h4>

      <h4>
        <i class="fa fa-google-plus"></i>
        <a href="https://plus.google.com/+JoshuaMaslandSarani/posts">
          Google+
        </a>
      </h4>
    </div>

    <div class="col-md-2">
      <h3>My Work Online</h3>

      <h4>
        <i class="fa fa-github"></i>
        <a href="https://github.com/jmazzy">
          Github
        </a>
      </h4>

      <h4>
        <i class="fa fa-medium"></i>
        <a href="https://medium.com/@j.masland/">
          Medium
        </a>
      </h4>

      <h4>
        <i class="fa fa-fw"><strong>Q</strong></i>
        <a href="https://www.quora.com/Joshua-David-Masland-Sarani">
          Quora
        </a>
      </h4>

    </div>

    <div class="col-md-2">

    </div>

    <div class="col-md-2">

    </div>
  </div>
</section>

<section class="container-fluid navbar navbar-fixed-bottom">
  <h5>Copyright © 2016 Joshua Masland-Sarani</h5>
</section>

<script
  src="https://code.jquery.com/jquery-2.2.3.min.js"
  integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="
  crossorigin="anonymous">
</script>

<script
  type="text/javascript"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" >
</script>

<script type="text/javascript" src="/js/main.js"></script>
