<h4>
  <i class="fa fa-file-text-o"></i>
  <a href="/posts">
    Posts
  </a>
</h4>

<h4>
  <i class="fa fa-github"></i>
  <a href="https://github.com/jmazzy">
    Github
  </a>
</h4>

<h4>
  <i class="fa fa-linkedin"></i>
  <a href="https://www.linkedin.com/in/jmasland">
    LinkedIn
  </a>
</h4>

<h4>
  <i class="fa fa-instagram"></i>
  <a href="https://instagram.com/jmasaraniland/">
    Instagram
  </a>
</h4>

<h4>
  <i class="fa fa-google-plus"></i>
  <a href="https://plus.google.com/+JoshuaMaslandSarani/posts">
    Google+
  </a>
</h4>

<h4>
  <i class="fa fa-fw"><strong>Q</strong></i>
  <a href="https://www.quora.com/Joshua-David-Masland-Sarani">
    Quora
  </a>
</h4>

<h4>
  <i class="fa fa-medium"></i>
  <a href="https://medium.com/@j.masland/">
    Medium
  </a>
</h4>
