<a href="https://github.com/jmazzy">
  <h4><i class="fa fa-lg fa-github"></i>Github</h4>
</a>

<a href="https://www.linkedin.com/in/jmasland">
  <h4><i class="fa fa-lg fa-linkedin"></i>LinkedIn</h4>
</a>

<a href="https://instagram.com/jmasaraniland/">
  <h4><i class="fa fa-lg fa-instagram"></i>Instagram</h4>
</a>

<a href="https://plus.google.com/+JoshuaMaslandSarani/posts">
  <h4><i class="fa fa-lg fa-google-plus"></i>Google+</h4>
</a>

<a href="https://www.quora.com/Joshua-David-Masland-Sarani">
  <h4><i class="fa fa-lg fa-quora"></i>Quora</h4>
</a>

<a href="https://medium.com/@j.masland/">
  <h4><i class="fa fa-lg fa-medium"></i>Medium</h4>
</a>
