---
layout: page
title:  Projects
date:   2016-05-04
categories: page projects
permalink: /projects/
---

{% assign web_projects = site.data.projects | where: "category", "web" %}
{% assign mobile_projects = site.data.projects | where: "category", "mobile" %}
{% assign games_projects = site.data.projects | where: "category", "games" %}

<h2>Web Applications</h2>

{% for project in web_projects %}

	<article class="project-card">
		<h3>{{ project.name }}</h3>
		<p>
			{{ project.description }}
			<a href="{{ project.github-link }}">[Github]</a>
			<a href="{{ project.deploy-link }}">[{{ project.deploy-link-name }}]</a>
		</p>
	</article>

{% endfor %}

<h2>Android Applications</h2>
{% for project in mobile_projects %}

	<article class="project-card">
		<h3>{{ project.name }}</h3>
		<p>
			{{ project.description }}
			<a href="{{ project.deploy-link }}">[{{ project.deploy-link-name }}]</a>
		</p>
	</article>

{% endfor %}


<h2>JavaScript Games</h2>

{% for project in games_projects %}

	<article class="project-card">
		<h3>{{ project.name }}</h3>
		<p>
			{{ project.description }}
			<a href="{{ project.github-link }}">[Github]</a>
			<a href="{{ project.deploy-link }}">[{{ project.deploy-link-name }}]</a>
		</p>
	</article>

{% endfor %}
