@import url:("reset.css");

html {
	background-color:#777;
	/*background-image: url("../images/river.jpg");*/
}

body {
	background-color:#ccc;
	opacity:0.7;
	font-family: 'Droid Sans', sans-serif;
	margin-left: auto;
	margin-right: auto;
	width:800px;
	padding:8px;
}

h1 {
	font-family: 'Droid Sans Mono', sans-serif;
	font-size: 24px;
	font-style: bold;
	font-variant: bold;
	line-height: 25px;
}
h2 {
	font-family: 'Droid Sans Mono', sans-serif;
	font-size: 22px;
	font-style: bold;
	font-variant: bold;
	line-height: 23px;
}
h3 {
	font-family: 'Droid Sans Mono', sans-serif;
	font-size: 20px;
	font-style: bold;
	font-variant: bold;
	line-height: 21px;
}
p {
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	line-height: 19px;
}

a {
	font-style: normal;
	font-variant: normal;
	text-decoration:none;
}

a:link {
	color:#248;
}

a:visited {
	color:#359;
}

a:active {
	color:#843;
}

a:hover {
	color:#46a;
}

blockquote {
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	line-height: 30px;
}
pre {
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	line-height: 18px;
}

header {
	background-color:#248;
	color:#dde6e3;
	text-align:center;
	height:256px;
	padding:8px;
	width:auto;
}

nav {
	background-color:#248;
	color:#ccc;
	font-size:24px;
	height: 32px;
	line-height:32px;
	margin-left: auto;
	margin-right: auto;
	padding:8px;
	width:auto;
}

nav a:link {
	color:#ccc;
	padding:8px;
	width:auto;
}

nav a:hover {
	background-color:#359;
}

section {

	margin-left: auto;
	margin-right: auto;
	background-color:#ccc;
	color:#222;
}

footer {
	background-color:#248;
	color:#ccc;
	clear:both;
	padding:8px;
	width:auto;
}

#page_title {
	text-align: left;
	font-size: 32px;
	font-style: bold;
	line-height: 33px;
}

#column_left {
	width: 60%;
	float:left;
}

#column_right {
	width: 30%;
	float:right;
}

#headshot {
	float:left;
	opacity:1.0;
}
