@import url("normalize.css");
@import url(https://fonts.googleapis.com/css?family=Raleway:600|Cabin);

$base-font-size: 18px;
$font-size-1: $base-font-size * 2;
$font-size-2: $base-font-size * 1.8;
$font-size-3: $base-font-size * 1.6;
$font-size-4: $base-font-size * 1.4;
$font-size-5: $base-font-size * 1.2;
$heading-font: 'Raleway', helvetica, arial, sans-serif;
$normal-font: 'Cabin', helvetica, arial, sans-serif;
$base-margin:10px;
$base-padding:10px;
$base-radius:10px;

* {
	background-color:#ccc;
	color:#222;
	font-family: $normal-font;
	box-sizing:border-box;
	margin: 0;
	padding: 0;
}

html {
	background-color:#ddd;
}

body, header, nav, footer {
	border-radius: $base-radius;
	box-shadow: 0 0 2px 2px #222;
	padding:$base-padding;
}

header, nav, footer {
	background-color:#248;
	color:#ddd;
}

main {
	padding:$base-padding;
}

body {
	background-color: #ccc;
	width: 960px;
	margin:$base-margin auto;
}

footer {
	text-align:center;
}

nav {
	margin:$base-margin 0;
	padding:0 $base-padding;

	a {
		font-size: $font-size-3;
		line-height: $font-size-3 + 1;
		background-color:inherit;
		color:inherit;
		border-radius:inherit;
		display:inline-block;
		margin:0;
		padding:$base-padding;
	}

	a:visited {
		color:#ddd;
	}

	a:active {
		color:#ddd;
	}

	a:hover {
		background-color:#359;
		box-shadow:inherit;
		border:inherit;
	}
}

.main-text {
	width: (960px - 60px) * 0.75;
	display: inline-block;
	vertical-align:top;
	padding:$base-padding;
}

.sidebar {
	width: (960px - 60px) * 0.24;
	display: inline-block;
	vertical-align:top;
	padding:$base-padding;
}

h1 {
	color:#ddd;
	background-color:transparent;
	font-family: $heading-font;
	font-size: $font-size-1;
	line-height: $font-size-1 + 1;
	display: block;
	margin:$base-padding;
	padding:$base-padding;
}

h2 {
	font-family: $heading-font;
	font-size: $font-size-2;
	line-height: $font-size-1;
}

h3 {
	font-family: $heading-font;
	font-size: $font-size-3;
	line-height: $font-size-2;
}

p {
	font-size: $base-font-size;
	line-height: $font-size-4;
}

a {
	font-size:$base-font-size;
	line-height:$base-font-size + 1;
	font-style: normal;
	font-variant: normal;
	text-decoration:none;
}

a:visited {
	color:#359;
}

a:active {
	color:#843;
}

a:hover {
	color:#46a;
}

#headshot {
	background-color:#ddd;
	opacity:1.0;
	border-radius:$base-radius;
	display:inline-block;
}
