$dark-text: #222222;
$light-text: #E0E9E9;
$headline: #444444;
$bubble: #455372;
$shadow: #2D3956;

* {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}

.container {
	padding: 20px;
	color: $dark-text;
}

.intro {
	padding: 10px;
	color: $headline;
	font-size: 24px;
}

.name {
	font-weight: bold;
	font-size: 64px;
}

.tagline {
	font-size: 32px;
}

.header {
	padding: 20px;
	color: $light-text;
	background-color: $bubble;
	border-radius: 32px;
}

.footer {
	padding: 20px;
	color: $light-text;
	background-color: $bubble;
	height: 64px;
	border-radius: 32px;
}
