$radius: 150px;
$dark-text: #111;
$light-text: #E0E9E9;
$headline: #555;
$bubble: #455372;
$shadow: #2D3956;

* {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}

h1, h2, h3 {
	font-weight: bold;
	color: $headline;
}

.container {
	padding: 20px;
}

article {
	padding-bottom: 10px;
}

.intro {
	padding: 10px;
	font-size: 24px;
	height: $radius * 1.5;

	h1, h2, h3 {
		font-weight: bold;
		color: $dark-text;
	}
}

.name {
	font-weight: bold;
	font-size: 64px;
	color: $light-text;
}

.tagline {
	font-size: 32px;
	color: $light-text;
}

.spacer-row {
	height: $radius;
}

.circle {
	box-shadow: 0 0 10px $shadow;

	color: $light-text;
	text-shadow: 2px 2px 2px $dark-text;
	background-color: $bubble;

	vertical-align: middle;
	text-align: center;

	padding: 25px 25px 25px 25px;

	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
	border-radius: $radius;

	font-size: 20px;

	h1, h2, h3 {
		font-weight: bold;
		color: $light-text;
	}

	width: $radius * 2;
	height: $radius * 2;
	//
	// transition: width 0.5s linear; /* vendorless fallback */
  //   -o-transition: width 0.5s linear; /* opera */
  //   -ms-transition: width 0.5s linear; /* IE 10 */
  //   -moz-transition: width 0.5s linear; /* Firefox */
  //   -webkit-transition: width 0.5s linear; /*safari and chrome */
	//
	// transition: height 0.5s linear; /* vendorless fallback */
  //   -o-transition: height 0.5s linear; /* opera */
  //   -ms-transition: height 0.5s linear; /* IE 10 */
  //   -moz-transition: height 0.5s linear; /* Firefox */
  //   -webkit-transition: height 0.5s linear; /*safari and chrome */
}

.circle:hover {
	box-shadow: 0 0 20px $shadow;

	// width: $radius * 2.5;
	// height: $radius * 2.5;
	//
	// transition: width 0.5s linear; /* vendorless fallback */
	// 	-o-transition: width 0.5s linear; /* opera */
	// 	-ms-transition: width 0.5s linear; /* IE 10 */
	// 	-moz-transition: width 0.5s linear; /* Firefox */
	// 	-webkit-transition: width 0.5s linear; /*safari and chrome */
	//
	// transition: height 0.5s linear; /* vendorless fallback */
	// 	-o-transition: height 0.5s linear; /* opera */
	// 	-ms-transition: height 0.5s linear; /* IE 10 */
	// 	-moz-transition: height 0.5s linear; /* Firefox */
	// 	-webkit-transition: height 0.5s linear; /*safari and chrome */
}

.circle-headline {
	font-weight: bold;
	font-size: 24px;
}

.headshot {
	background-image: url("../images/josh.png");
	background-repeat: no-repeat;
  background-position: center;
	background-size: auto ($radius * 2);
}

.header {
	padding: 20px;
	border-radius: 32px;
	background-color: $bubble;
	color: $light-text;
	box-shadow: 0 0 10px $shadow;
	text-shadow: 2px 2px 2px $dark-text;
}

.footer {
	padding: 20px;
	height: 64px;
	border-radius: 32px;
	background-color: $bubble;
	color: $light-text;
	box-shadow: 0 0 10px $shadow;
	text-shadow: 2px 2px 2px $dark-text;
}

.light-footer {
	padding: 20px;
	color: $dark-text;
}

.text-box {
	padding: 20px;
	border-radius: 20px;
}
