<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <header class="container-fluid">
      <div class="row">
        <div class="col-xs-6">
          <h1 class="pull-left">Joshua Masland-Sarani</h1>
        </div>
        <div class="col-xs-6">
          <h1 class="pull-right">Full Stack Web Developer</h1>
        </div>
      </div>

      <section class="row">
        <section class="col-xs-12">
          <span>j.masland@gmail.com</span>
          &nbsp;|&nbsp;
          <span>570-301-4334</span>
          &nbsp;|&nbsp;
          <span>Elizabethtown, PA</span>
          &nbsp;|&nbsp;
          <span>masland-sarani.com</span>
        </section>
      </section>
    </header>

    <main class="container">
      <section class="row">
        <section class="col-xs-12">
          {{ content }}
        </section>
      </section>
    </main>

    <footer class="navbar-fixed-bottom">
      <script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </footer>

  </body>
</html>
