$colorWater: #009fdf;
$colorBrick: #b46732;
$colorOre: #656570;
$colorSheep: #6da446;
$colorWheat: #f9c246;
$colorWood: #2b4e1b;
$colorGold: #b6a142;
$colorDesert: #d9b672;
$colorNeutral: #F4DF95;

$hexHeight: 64;
$hexWidth: 0.866*$hexHeight;

.grid {
  position: relative;
}

.reset {
  background-color: $colorSheep;
}

.grid-holder {
  padding: 50px;
}

.hexagon {
  position: absolute;
  width: 64px;
  height: 36.95px;
  background-color: #3a9b9f;
  margin: 18.48px 0;
  box-shadow: 0 0 5px rgba(0,0,0,0.6);
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 45.25px;
  height: 45.25px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 9.3726px;
  box-shadow: 0 0 5px rgba(0,0,0,0.6);
}

.hexagon:before {
  top: -22.6274px;
}

.hexagon:after {
  bottom: -22.6274px;
}

/*cover up extra shadows*/
.hexagon span {
  display: block;
  position: absolute;
  top:0px;
  left: 0;
  width:64px;
  height:36.9504px;
  z-index: 2;
  background: inherit;
}

.water {
  background-color: $colorWater;
  border-color: $colorWater;
}

.desert {
  background-color: $colorDesert;
  border-color: $colorDesert;
}

.neutral {
  background-color: $colorNeutral;
  border-color: $colorNeutral;
}

.gold {
  background-color: $colorGold;
  border-color: $colorGold;
}

.ore {
  background-color: $colorOre;
  border-color: $colorOre;
}

.brick {
  background-color: $colorBrick;
  border-color: $colorBrick;
}

.sheep {
  background-color: $colorSheep;
  border-color: $colorSheep;
}

.wheat {
  background-color: $colorWheat;
  border-color: $colorWheat;
}

.wood {
  background-color: $colorWood;
  border-color: $colorWood;
}

.number {
  background-color: $colorNeutral;
  border: 2px solid black;
  height: 22px;
  width: 22px;
  border-radius: 11px;
  font-family: 'Arial', sans-serif;
  line-height: 22px;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  left: 20px;
  top: 7px;
  z-index: 3;
  margin: 0;
  padding-bottom: 4px;
}

.hidden {
  display: none;
}
